body {
  font-family: Arial, sans-serif;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(92,121,9,1) 18%, rgba(0,212,255,1) 100%);
}

.diplomas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.slideshow {
  width: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity 1s ease-in-out;
}

.slideshow.active {
  opacity: 1;
}

.diplomas img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    
}

.footer 
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #d67171;
    padding: 10px;
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(9,117,121,1) 6%, rgba(110,232,97,1) 70%, rgba(0,212,255,1) 100%); 
    gap: 5px;
 
}
.footer .redes-sociales a {
    margin: 0 10px; /* Añade un margen de 10px a los lados de cada icono */
    text-decoration: none; /* Elimina subrayado si lo hubiera */
}
