body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(92,121,9,1) 18%, rgba(0,212,255,1) 100%);
}

.diplomas {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.slideshow {
    width: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease-in-out;
}

.slideshow.active {
    opacity: 1;

}

.diplomas img {
    border-radius: 5px;
    width: 570px;
    height: auto;
    margin: 15px;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    display: grid;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }
  
  .diplomas img.expand {
    transform: scale(1);
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .footer 
  {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }