body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(92,121,9,1) 18%, rgba(0,212,255,1) 100%);
    
}



.servicios 
{
    border-radius: 20px; /* Ajusta el valor para más o menos redondeo */
}

.footer 
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #d67171;
    padding: 15px;
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(9,117,121,1) 6%, rgba(110,232,97,1) 70%, rgba(0,212,255,1) 100%); 
    gap: 5px;
 
}